.scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 8px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: var(--interface-input, #2F2F37);
  box-sizing: border-box;
}

.scrollbar_thumb {
  position: absolute;
  right: 0;  
  width: 8px;
  flex-shrink: 0;    
  background: var(--text-dark-grey-secondary-text, #8585AD);     
  box-sizing: border-box;
}