.title {
  margin: 0;
  color: #F2F2F3;
  width: 1240px;
  height: 40px;
  padding-left: calc(20px + 16px);
  composes: text_type_main-large pt-10 pb-5 from global;
}

.content {
  margin: 0;
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 60px;
  background-color: #131316;
  border: 1px dotted yellow;
}

.orders {
  margin: 0;
padding: 0;
  width: 608px;
  height: 852px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border: 1px solid blue;
  max-height: 664px;
  max-width: 608px;
  overflow: auto;
  composes: custom-scroll from global;
  box-sizing: content-box;
}

.scrollbar {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 664px;
  max-width: 608px;
  overflow: auto;
  composes: custom-scroll from global;
  box-sizing: content-box;
}

.order_card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-width: 536px;
  background-color: #1C1C21;
  border-radius: 40px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digit {
  margin: 0;
  composes: text_type_digits-default from global;
}

.time {
  composes: text_type_main-default text_color_inactive from global;
}
.info {
  margin: 0;
  composes: text_type_main-medium from global;
}
.components {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 height: 64px;
 column-gap: 24px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
width: 436px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.stats {
  height: 626px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.orders_numbers {
  display: grid;
  grid-template-rows: 32px 152px;
  row-gap: 24px;
  grid-template-columns: repeat(2, 280px);
  column-gap: 36px;
}

.text {
  margin: 0;
  composes: text_type_main-medium from global;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  grid-template-rows: repeat(5, 24px);
  row-gap: 8px;
  grid-auto-flow: column;
  color: #00CCCC;
  composes: text_type_digits-default from global;
}

.in_progress {
  color: #F2F2F3;
}


.digits {
  margin: 0;
  composes: text_type_digits-large from global;
}