.item {
  width: 272px;
  height: 208px; 
  display: flex;
  flex-direction: column;
  align-items: center;  
  position: relative;
}
.image {
  width: 240px;
  height: 120px;   
  composes: pb-1 pl-4 pr-4 from global;  
}
.price {  
 display: flex;
 flex-direction: row;
 composes: pb-1 from global;
}
.price_value {  
  composes: text_type_digits-default pr-2 from global;
}

.name {
  margin: 0;
  width: 272px;
  height: 48px;   
  composes: text_type_main-default from global;  
  text-align: center;
}

/*
.quantity {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: var(--interface-accent, #4C4CFF);
}

.quantity_value {
  margin: 0;
  color: rgba(242, 242, 243, 1);  
  composes: text_type_digits-default from global;
  text-align: center;  
  padding-top: calc((32px - 24px)/2);  
}
*/