.contents {
  width: 600px;
  height: 912px;
  box-sizing: border-box;
  /*overflow: hidden;*/
  /*border: dotted yellow 1px;*/
}

.scrollbar{
 position: relative;
 border: dotted yellow 1px;
}

.title {
  margin: 0;
  width: 600px;
  height: 40px;
  top: 40px;
  border: 1px;
  color: rgba(242, 242, 243, 1);
  composes: text_type_main-large pt-10 pb-5 from global;
  }

.tab {
  composes: pb-10 from global;
}

.subtitle {
  margin: 0;
  width: 600px;
  height: 30px;
  color: rgba(242, 242, 243, 1);  
  composes: text_type_main-medium pb-6 from global;  
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  column-gap: 24px;
  row-gap: 32px;
  composes: pl-4 pr-4 pb-10 from global;    
}
