.contents {
  width: 600px;
  height: 912px;
}
.tab {
  display: flex;
}

.scrollbar {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 664px;
  max-width: 600px;
  overflow: auto;
  composes: custom-scroll from global;
  box-sizing: content-box;
}

.title {
  margin: 0;
  width: 600px;
  height: 40px;
  top: 40px;
  border: 1px;
  color: rgba(242, 242, 243, 1);
  composes: text_type_main-large pt-10 pb-5 from global;
}

.tab {
  composes: pb-10 from global;
}

.subtitle {
  margin: 0;
  width: calc(600px - 15px); /* за минусом ширины scrollbar`а чтобы убрать горизонтальный скрол*/
  height: 30px;
  color: rgba(242, 242, 243, 1);
  composes: text_type_main-medium pb-6 from global;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  composes: pl-4 pr-4 pb-10 from global;
  /*border: dotted magenta 1px; */
}