.navigation_link {
    composes: pt-4 pb-4 pl-5 pr-5 from global; 
    text-decoration: none; 
    display: flex;
    flex-direction: row;
  }
  
.navlink { 
    margin: 0;    
    padding-left: 8px;    
    display: flex; 
    flex-direction: row; 
    justify-content: left; 
    composes: text_type_main-default from global;
    color: var(--text-inactive-color); 
}

.active {
  color: #F3F3F3;
}